* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e1e1e;
    overflow-x: hidden;
    /* Mencegah scroll horizontal */
}

#Home {
    position: relative;
    width: 100%;
    height: auto;
    background: url("asset/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #1e1e1e;
    z-index: 1;
}

.nav-welcome {
    padding-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}

.nav-kelas {
    /* font-bold text-5xl text-center py-20 */
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 40px;
}

/* content */
/* flex justify-between relative */
#content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ig */

#Ig {
    width: 180px;
    margin-left: 30px;
    height: 230px;
    position: relative;
    border-radius: 15px;
}

/* #BoxClassIg {} */

.Ig {
    display: flex;
    justify-content: space-between;
}

.imgIg {
    width: auto;
    height: 55px;
    margin-top: 15px;
    margin-left: 15px;
}

.nextIg {
    /* background-color: #1e1e1e; */
    width: auto;
    height: 25px;
    position: top;
    margin-top: 15px;
    margin-right: 10px;
}

.fontIg {
    /* text-white text-lg pr-3 mt-3 absolute bottom-10 */
    color: white;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 2rem;
    font-size: 20px;
    text-align: start;
    position: absolute;
    bottom: 30px;
}

.viewIg {
    /* flex py-2 text-xs */
    display: flex;
    text-align: start;
    color: white;
    margin-left: 15px;
    font-size: x-small;
    opacity: 60px;
    position: absolute;
    bottom: 10px;
}

/* ig end */

/* tiktok */
#tiktok {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

#BoxClassTiktok {
    width: 140px;
    margin-left: 30px;
    height: 100px;
    position: relative;
    border-radius: 15px;
}

.tiktok {
    display: flex;
    justify-content: space-between;
}

.imgTiktok {
    width: auto;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

.nextTiktok {
    width: auto;
    height: 20px;
    position: top;
    margin-top: 15px;
    margin-right: 10px;
}

.subtiktok {
    /* text-white text-base font-semibold pr-0 mt-5 */
    color: white;
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
    text-align: start;
    position: absolute;
    bottom: 1px;
}

/* tiktok end */

/* menfess */
#BoxTextAnonim {
    margin-top: 10px;
    width: 140px;
    margin-left: 30px;
    height: 120px;
    position: absolute;
    border-radius: 15px;
}

.img-menfess {
    display: flex;
    justify-content: space-between;
}

.imgPaper {
    width: auto;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

.nextMenfess {
    width: auto;
    height: 20px;
    position: top;
    margin-top: 15px;
    margin-right: 10px;
}

.textMenfess {
    color: white;
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
    text-align: start;
    position: absolute;
    bottom: 1px;
}

/* menfees chat */
#textMenfess {
    display: none;
    border-radius: 25px;
    padding: 10%;
    margin: 20px;
    height: auto;
    width: 90%;
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-top: -430px;
    position: fixed;
    z-index: 10;
}

.close {
    display: flex;
    justify-content: space-between;
}

.close h4 {
    margin: -15px 0 50px 65px;
    justify-content: center;
    border: 2px;
    padding: 6px;
    width: 150px;
    border-radius: 10px;
    background-color: #bfbfbf;
    text-align: center;
    box-shadow: 0px 4px 5px 1px rgba(235, 235, 235, 1);

}

#closeMenfess {
    font-size: 35px;
    margin-top: -35px;
    margin-right: -20px;
}

#input {
    border: 2px;
    width: 300px;
    padding: 8px;
    margin: 0 0 10px -14px;
    font-size: 14px;
    border-radius: 10px;
}

.buttonSubmit {
    padding: 5px;
    border-radius: 10px;
    margin-left: -14px;
}

#iconv {
    width: 15px;
    height: auto;
}

/* menfess chat end */

/* menfess end */

/* send img */
#Gallery {
    /* text-white opacity-60 text-base font-semibold mb-4 mx-[10%] mt-10 lg:text-center lg:text-3xl lg:mb-8 */
    color: white;
    opacity: 60px;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 25px;
}

#inputImg {
    display: none;
}

/* Membuat label terlihat seperti tombol */
.inputImg {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    cursor: pointer;
    background-color: #b0b0b0;
    color: white;
}

#SendImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 16px;
    width: 150px;
    height: 50px;
}

.iconSend {
    width: auto;
    height: 20px;
}

/* send img end */

/* struktur */
.struktur {
    display: flex;
    flex-direction: row;
}

.struktur h3 {
    margin: 5px;

}

.strukturKelas {
    display: flex;
    justify-content: center;
    /* background-color: #9CA3AF; */
    position: relative;
    z-index: -1;
    padding-bottom: 100px;
}

.imgKelas {
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

/* struktur end */

/* footer */
#Footer {
    z-index: -1;
    position: relative;
    background-color: #1e1e1e;
}

.footer {
    /* mx-auto w-full max-w-screen-xl px-8 py-6 lg:py-8 */
    background-image: linear-gradient(to right, rgba(218, 9, 229, 0.39) 5%, rgba(218, 9, 229, 0.149) 55%, rgba(0, 0, 0, 0));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* border-top: none; */
}

.penutup {
    /* md:flex md:justify-between */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logoFooter {
    margin-bottom: 1.5rem;
}

.linkFooter {
    display: flex;
    align-items: center;
}

.LogoA2 {
    height: 4rem;
    width: 4rem;
    right: 0.5rem;
    position: relative;
    border-radius: 9999px;
    filter: brightness(200%);
}

.spanFooter {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    color: white;
}

.footerLink {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.footerCredit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nama {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.created {
    /* text-gray-400 dark:text-gray-400 font-medium */
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
    margin-left: -32px;
}

.hoverUl {
    color: #9CA3AF;
    text-decoration: none;
}

.hoverUl:hover {
    text-decoration: underline;
}

.Igyasin {
    margin-bottom: 0.5rem;
}

.foot {
    /* my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8 */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: #E5E7EB;
    margin-left: auto;
    margin-right: auto;
}

.divfoot {
    /* sm:flex sm:items-center sm:justify-between */
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.credit {
    /* flex mt-4 justify-center sm:mt-0 */
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

.textCredit {
    /* text-[0.7rem] text-white opacity-70 */
    color: white;
    opacity: 70px;
}

/* footer end */
